[submodule "lezione2/lib/forge-std"]
	path = lezione2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lezione4/lib/forge-std"]
	path = lezione4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lezione5/lib/forge-std"]
	path = lezione5/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lezione6/lib/forge-std"]
	path = lezione6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lezione7/lib/forge-std"]
	path = lezione7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lezione8/lib/forge-std"]
	path = lezione8/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lezione8/lib/openzeppelin-contracts"]
	path = lezione8/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
